@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Super Sudoku!</h1>
<a asp-area="" asp-controller="Home" asp-action="NewGame">New Game</a>
<br />
<a asp-area="" asp-controller="Home" asp-action="ContinueGame">Continue Game</a>